<% messages = flash.select { |_, message| message.present? } %>
<% if messages.any? %>
  <% container_class = local_assigns[:inset] ? "flash-container flash-container--inset" : "flash-container" %>
  <div class="<%= container_class %>">
    <% messages.each do |type, message| %>
      <% variant = type.to_sym == :alert ? "danger" : "success" %>
      <div data-flash-auto-dismiss class="flash-toast flash-toast--<%= variant %>" role="alert">
        <%= message %>
      </div>
    <% end %>
  </div>
<% end %>
