<% if resource.errors.any? %>
  <div class="rounded-lg border border-danger/30 bg-danger/10 p-3 text-sm text-danger">
    <p class="font-medium"><%= pluralize(resource.errors.count, "error") %> prevented this from being saved:</p>
    <ul class="mt-1 list-disc pl-5">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
