<% content_for :title, "Edit lease" %>

<div class="mx-auto max-w-2xl">
  <%= render "shared/page_header", title: "Edit lease" %>
  <%= render "form", lease: @lease, tenants: @tenants, form_url: lease_path(@lease), cancel_url: lease_path(@lease) %>
</div>
