<% content_for :title, "New lease" %>

<div class="mx-auto max-w-2xl">
  <h1 class="mb-6 text-2xl font-bold">New lease for <%= @unit.property.name %> &middot; <%= @unit.label %></h1>
  <%= render "form", lease: @lease, tenants: @tenants, form_url: unit_leases_path(@unit), cancel_url: unit_path(@unit) %>
</div>
