<% content_for :title, "New lease" %>

<div class="mx-auto max-w-2xl">
  <%= render "shared/page_header", title: "New lease", subtitle: "#{@unit.property.name} · #{@unit.label}" %>
  <%= render "form", lease: @lease, tenants: @tenants, form_url: unit_leases_path(@unit), cancel_url: unit_path(@unit) %>
</div>
