<% content_for :title, "Edit unit" %>

<div class="mx-auto max-w-2xl">
  <%= render "shared/page_header", title: "Edit #{@unit.label}" %>
  <%= render "form", unit: @unit, form_url: unit_path(@unit), cancel_url: unit_path(@unit) %>
</div>
