<% content_for :title, "New unit" %>

<div class="mx-auto max-w-2xl">
  <%= render "shared/page_header", title: "Add unit", subtitle: @property.name %>
  <%= render "form", unit: @unit, form_url: property_units_path(@property), cancel_url: property_path(@property) %>
</div>
