<% content_for :title, "Edit work order" %>

<div class="mx-auto max-w-2xl">
  <%= render "shared/page_header", title: "Edit work order" %>
  <%= render "form", work_order: @work_order, units: [], form_url: work_order_path(@work_order), cancel_url: work_order_path(@work_order) %>
</div>
