<% content_for :title, "Edit user" %>

<div class="mx-auto max-w-2xl">
  <%= render "shared/page_header", title: "Edit #{@user.full_name}" %>
  <%= render "form", user: @user, form_url: admin_user_path(@user) %>
</div>
